SERVER_ADDR="0.0.0.0:8080"
LOG_LEVEL="info"

X_CLIENT_ID=SjgzxxxxxxpjaQ
X_CLIENT_SECRET=UAIqxxxxxxP6DY
X_CALLBACK_URL=http://localhost:8080/idp/twitter/callback

STATE_SECRET=xxUA.....P6DY
CHALLENGE_SECRET=vKplxxxxxxNMaw

IC_REDIRECT_URI=https://panda.fans/callback/auth
TEST_REDIRECT_URI=https://cr7z4-3aaaa-aaaap-aca4a-cai.icp0.io/callback/auth
LOCAL_REDIRECT_URI=http://c63a7-6yaaa-aaaap-ab3gq-cai.localhost:4943/callback/auth

LIMIT_BURST_CALLBACK=5
LIMIT_BURST_CHALLENGE=3

GRECAPTCHA_PROJECT=7654321
GRECAPTCHA_SITE_KEY=6LduPbxxxxxxxxxuN5TO
GRECAPTCHA_API_KEY=AIzaxxxxxxxxMhhYg
GRECAPTCHA_REQUIRED=false